USE [master];
GO

-- 1. Crear base de datos de forma limpia (usa la ruta por defecto del SQL Server destino)
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'LuxStay')
BEGIN
    CREATE DATABASE [LuxStay];
END
GO

USE [LuxStay];
GO

-- =========================================================================
-- 2. FUNCIONES DEFINIDAS POR EL USUARIO
-- =========================================================================
CREATE OR ALTER FUNCTION [dbo].[CalcularPorcentajeOcupacion](
    @Ocupadas INT,
    @Total INT
)
RETURNS VARCHAR(10)
AS
BEGIN
    IF @Total IS NULL OR @Total = 0 RETURN '0.00%';
    RETURN CONCAT(CAST(@Ocupadas * 100.0 / @Total AS DECIMAL(5,2)), '%');
END;
GO

CREATE OR ALTER FUNCTION [dbo].[fnFormatearFecha](@Fecha DATE)
RETURNS NVARCHAR(30)
AS
BEGIN
    IF @Fecha IS NULL RETURN NULL;
    RETURN CONCAT(
        RIGHT('0' + CAST(DAY(@Fecha) AS VARCHAR(2)), 2), '/',
        LEFT(DATENAME(MONTH, @Fecha), 3), '/',
        YEAR(@Fecha)
    );
END;
GO

CREATE OR ALTER FUNCTION [dbo].[fnFormatearFechaHora](@Fecha DATETIME)
RETURNS NVARCHAR(50)
AS
BEGIN
    IF @Fecha IS NULL RETURN NULL;
    RETURN CONCAT(
        RIGHT('0' + CAST(DAY(@Fecha) AS VARCHAR(2)), 2), '/',
        LEFT(DATENAME(MONTH, @Fecha), 3), '/',
        YEAR(@Fecha), ' ',
        FORMAT(@Fecha, 'HH:mm:ss')
    );
END;
GO

CREATE OR ALTER FUNCTION [dbo].[fnFormatearMoneda](@Monto DECIMAL(10,2))
RETURNS NVARCHAR(50)
AS
BEGIN
    IF @Monto IS NULL RETURN NULL;
    RETURN CONCAT('$', FORMAT(ISNULL(@Monto, 0), 'N2', 'es-MX'));
END;
GO

-- =========================================================================
-- 3. TABLAS BASE
-- =========================================================================

-- Paises
CREATE TABLE [dbo].[Paises](
    [PaisID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [Nombre] [nvarchar](100) NOT NULL UNIQUE
);
GO

-- Estados
CREATE TABLE [dbo].[Estados](
    [EstadoID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [PaisID] [int] NOT NULL,
    [Nombre] [nvarchar](100) NOT NULL
);
GO

-- Ciudades
CREATE TABLE [dbo].[Ciudades](
    [CiudadID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [EstadoID] [int] NOT NULL,
    [Nombre] [nvarchar](100) NOT NULL
);
GO

-- Usuarios
CREATE TABLE [dbo].[Usuarios](
    [UsuarioID] [int] NOT NULL PRIMARY KEY,
    [Nombre] [nvarchar](50) NOT NULL,
    [Apellidos] [nvarchar](50) NOT NULL,
    [Correo] [nvarchar](50) NOT NULL UNIQUE,
    [PasswordAct] [nvarchar](50) NOT NULL,
    [NumeroNomina] [varchar](20) NOT NULL UNIQUE,
    [TipoUsuario] [varchar](15) NOT NULL CHECK ([TipoUsuario] IN ('Operativo', 'Administrador')),
    [FechaNacimiento] [date] NOT NULL,
    [UsuarioRegistrador] [int] NOT NULL,
    [FechaRegistro] [datetime] NULL DEFAULT (GETDATE()),
    [Estado] [bit] NULL DEFAULT (1)
);
GO

-- HistorialPasswords
CREATE TABLE [dbo].[HistorialPasswords](
    [HistorialID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [UsuarioID] [int] NOT NULL UNIQUE,
    [PasswordAnt1] [nvarchar](50) NULL,
    [PasswordAnt2] [nvarchar](50) NULL
);
GO

-- TelefonosUsuarios
CREATE TABLE [dbo].[TelefonosUsuarios](
    [TelefonoID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [UsuarioID] [int] NOT NULL UNIQUE,
    [Celular] [varchar](15) NOT NULL,
    [TelefonoCasa] [varchar](15) NULL
);
GO

-- Clientes
CREATE TABLE [dbo].[Clientes](
    [ClienteID] [int] NOT NULL PRIMARY KEY,
    [Nombre] [nvarchar](50) NOT NULL,
    [Apellidos] [nvarchar](50) NOT NULL,
    [RFC] [nvarchar](13) NOT NULL UNIQUE,
    [Correo] [nvarchar](100) NOT NULL UNIQUE,
    [EstadoCivil] [nvarchar](20) NOT NULL,
    [FechaNacimiento] [date] NOT NULL,
    [UsuarioModificador] [int] NOT NULL,
    [FechaModificacion] [datetime] NULL DEFAULT (GETDATE())
);
GO

-- Ubicaciones
CREATE TABLE [dbo].[Ubicaciones](
    [UbicacionID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [ClienteID] [int] NOT NULL,
    [Pais] [nvarchar](20) NOT NULL,
    [Estado] [nvarchar](20) NOT NULL,
    [Ciudad] [nvarchar](20) NOT NULL
);
GO

-- TelefonosClientes
CREATE TABLE [dbo].[TelefonosClientes](
    [TelefonoID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [ClienteID] [int] NOT NULL,
    [Celular] [varchar](15) NOT NULL,
    [TelefonoCasa] [varchar](15) NULL
);
GO

-- Hoteles
CREATE TABLE [dbo].[Hoteles](
    [HotelID] [int] NOT NULL PRIMARY KEY,
    [Nombre] [nvarchar](50) NOT NULL,
    [Domicilio] [nvarchar](50) NOT NULL,
    [Caracteristicas] [nvarchar](max) NULL,
    [NumPisos] [int] NOT NULL,
    [NumHabitaciones] [int] NOT NULL DEFAULT (0),
    [UsuarioRegistrador] [int] NOT NULL,
    [FechaRegistro] [datetime] NULL DEFAULT (GETDATE()),
    [FechaInicioOperaciones] [date] NULL
);
GO

-- UbicacionHotel
CREATE TABLE [dbo].[UbicacionHotel](
    [UbicacionHotelID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [HotelID] [int] NOT NULL,
    [Pais] [nvarchar](20) NOT NULL,
    [Estado] [nvarchar](20) NOT NULL,
    [Ciudad] [nvarchar](20) NOT NULL
);
GO

-- TipoHabitacion
CREATE TABLE [dbo].[TipoHabitacion](
    [TipoHabID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [Nivel] [nvarchar](50) NOT NULL,
    [PrecioNoche] [decimal](10, 2) NOT NULL,
    [CantPersonas] [int] NOT NULL,
    [Caracteristicas] [nvarchar](max) NULL,
    [HotelID] [int] NOT NULL,
    [UsuarioRegistro] [int] NOT NULL,
    [FechaRegistro] [datetime] NULL DEFAULT (GETDATE()),
    [NumHabitaciones] [int] NULL DEFAULT (0)
);
GO

-- Habitacion
CREATE TABLE [dbo].[Habitacion](
    [HabitacionID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [Numero] [nvarchar](10) NOT NULL,
    [TipoHabitacion] [int] NOT NULL
);
GO

-- Servicio
CREATE TABLE [dbo].[Servicio](
    [ServicioID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [Nombre] [nvarchar](50) NOT NULL,
    [Precio] [decimal](10, 2) NOT NULL,
    [HotelID] [int] NOT NULL
);
GO

-- Amenidad
CREATE TABLE [dbo].[Amenidad](
    [AmenidadID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [Nombre] [nvarchar](50) NOT NULL,
    [Precio] [decimal](10, 2) NOT NULL,
    [TipoHabitacion] [int] NOT NULL
);
GO

-- Reservacion
CREATE TABLE [dbo].[Reservacion](
    [ReservacionID] [uniqueidentifier] NOT NULL PRIMARY KEY DEFAULT (NEWID()),
    [Anticipo] [decimal](10, 2) NOT NULL,
    [PrecioNoche] [decimal](10, 2) NOT NULL,
    [Estatus] [nvarchar](30) NOT NULL DEFAULT ('Pendiente'),
    [CantidadPersonas] [int] NOT NULL,
    [CheckIn] [bit] NOT NULL DEFAULT (0),
    [CheckOut] [bit] NOT NULL DEFAULT (0),
    [FechaCheckIn] [date] NOT NULL,
    [FechaCheckOut] [date] NOT NULL,
    [UsuarioRegistro] [int] NOT NULL,
    [TipoHabID] [int] NOT NULL,
    [HabitacionID] [int] NOT NULL,
    [ClienteID] [int] NOT NULL,
    [FechaRegistro] [datetime] NULL DEFAULT (GETDATE())
);
GO

-- Factura
CREATE TABLE [dbo].[Factura](
    [FacturaID] [uniqueidentifier] NOT NULL PRIMARY KEY,
    [ReservacionID] [uniqueidentifier] NULL,
    [MontoServicios] [decimal](10, 2) NOT NULL,
    [MontoHospedaje] [decimal](10, 2) NOT NULL,
    [MontoTotal] [decimal](10, 2) NOT NULL
);
GO

-- =========================================================================
-- 4. LLAVES FORÁNEAS (RELACIONES)
-- =========================================================================
ALTER TABLE [dbo].[Estados] WITH CHECK ADD FOREIGN KEY([PaisID]) REFERENCES [dbo].[Paises] ([PaisID]);
ALTER TABLE [dbo].[Ciudades] WITH CHECK ADD FOREIGN KEY([EstadoID]) REFERENCES [dbo].[Estados] ([EstadoID]);
ALTER TABLE [dbo].[Usuarios] WITH CHECK ADD FOREIGN KEY([UsuarioRegistrador]) REFERENCES [dbo].[Usuarios] ([UsuarioID]);
ALTER TABLE [dbo].[HistorialPasswords] WITH CHECK ADD FOREIGN KEY([UsuarioID]) REFERENCES [dbo].[Usuarios] ([UsuarioID]);
ALTER TABLE [dbo].[TelefonosUsuarios] WITH CHECK ADD FOREIGN KEY([UsuarioID]) REFERENCES [dbo].[Usuarios] ([UsuarioID]);
ALTER TABLE [dbo].[Clientes] WITH CHECK ADD FOREIGN KEY([UsuarioModificador]) REFERENCES [dbo].[Usuarios] ([UsuarioID]);
ALTER TABLE [dbo].[Ubicaciones] WITH CHECK ADD FOREIGN KEY([ClienteID]) REFERENCES [dbo].[Clientes] ([ClienteID]) ON DELETE CASCADE;
ALTER TABLE [dbo].[TelefonosClientes] WITH CHECK ADD FOREIGN KEY([ClienteID]) REFERENCES [dbo].[Clientes] ([ClienteID]) ON DELETE CASCADE;
ALTER TABLE [dbo].[Hoteles] WITH CHECK ADD FOREIGN KEY([UsuarioRegistrador]) REFERENCES [dbo].[Usuarios] ([UsuarioID]);
ALTER TABLE [dbo].[UbicacionHotel] WITH CHECK ADD FOREIGN KEY([HotelID]) REFERENCES [dbo].[Hoteles] ([HotelID]);
ALTER TABLE [dbo].[TipoHabitacion] WITH CHECK ADD FOREIGN KEY([HotelID]) REFERENCES [dbo].[Hoteles] ([HotelID]);
ALTER TABLE [dbo].[TipoHabitacion] WITH CHECK ADD FOREIGN KEY([UsuarioRegistro]) REFERENCES [dbo].[Usuarios] ([UsuarioID]);
ALTER TABLE [dbo].[Habitacion] WITH CHECK ADD FOREIGN KEY([TipoHabitacion]) REFERENCES [dbo].[TipoHabitacion] ([TipoHabID]);
ALTER TABLE [dbo].[Servicio] WITH CHECK ADD FOREIGN KEY([HotelID]) REFERENCES [dbo].[Hoteles] ([HotelID]);
ALTER TABLE [dbo].[Amenidad] WITH CHECK ADD FOREIGN KEY([TipoHabitacion]) REFERENCES [dbo].[TipoHabitacion] ([TipoHabID]);
ALTER TABLE [dbo].[Reservacion] WITH CHECK ADD FOREIGN KEY([ClienteID]) REFERENCES [dbo].[Clientes] ([ClienteID]);
ALTER TABLE [dbo].[Reservacion] WITH CHECK ADD FOREIGN KEY([HabitacionID]) REFERENCES [dbo].[Habitacion] ([HabitacionID]);
ALTER TABLE [dbo].[Reservacion] WITH CHECK ADD FOREIGN KEY([TipoHabID]) REFERENCES [dbo].[TipoHabitacion] ([TipoHabID]);
ALTER TABLE [dbo].[Reservacion] WITH CHECK ADD FOREIGN KEY([UsuarioRegistro]) REFERENCES [dbo].[Usuarios] ([UsuarioID]);
ALTER TABLE [dbo].[Factura] WITH CHECK ADD FOREIGN KEY([ReservacionID]) REFERENCES [dbo].[Reservacion] ([ReservacionID]);
GO

-- =========================================================================
-- 5. ÍNDICES DE RENDIMIENTO
-- =========================================================================
CREATE NONCLUSTERED INDEX [IX_Amenidad_TipoHabitacion] ON [dbo].[Amenidad]([TipoHabitacion] ASC);
CREATE NONCLUSTERED INDEX [IX_Habitacion_TipoHabitacion] ON [dbo].[Habitacion]([TipoHabitacion] ASC);
CREATE NONCLUSTERED INDEX [IX_Hoteles_Nombre] ON [dbo].[Hoteles]([Nombre] ASC);
CREATE NONCLUSTERED INDEX [IX_Servicio_HotelID] ON [dbo].[Servicio]([HotelID] ASC);
CREATE NONCLUSTERED INDEX [IX_TipoHabitacion_HotelID] ON [dbo].[TipoHabitacion]([HotelID] ASC);
CREATE NONCLUSTERED INDEX [IX_UbicacionHotel_Pais_Ciudad] ON [dbo].[UbicacionHotel]([Pais] ASC, [Ciudad] ASC);
CREATE NONCLUSTERED INDEX [IX_Reservacion_TipoHabID] ON [dbo].[Reservacion]([TipoHabID] ASC)
INCLUDE([FechaCheckIn], [FechaCheckOut], [HabitacionID], [Estatus]);
GO

-- =========================================================================
-- 6. VISTAS
-- =========================================================================
CREATE OR ALTER VIEW [dbo].[vw_HotelesExtendido] AS
SELECT 
    H.HotelID,
    H.Nombre AS NombreHotel,
    H.Domicilio,
    CONCAT(U.Pais, ', ', U.Estado, ', ', U.Ciudad) AS Ubicacion,
    H.NumPisos AS Pisos,
    H.NumHabitaciones AS CantidadHabitaciones,
    dbo.fnFormatearFechaHora(H.FechaRegistro) AS FechaHoraRegistro,
    dbo.fnFormatearFecha(H.FechaInicioOperaciones) AS FechainicioOperaciones,
    CONCAT(R.Nombre, ' ', R.Apellidos) AS UsuarioRegistrador,
    U.Pais,
    U.Estado,
    U.Ciudad
FROM Hoteles H
LEFT JOIN UbicacionHotel U ON H.HotelID = U.HotelID
LEFT JOIN Usuarios R ON H.UsuarioRegistrador = R.UsuarioID;
GO

CREATE OR ALTER VIEW [dbo].[vwClientesDetalle] AS
SELECT 
    c.ClienteID,
    c.Apellidos,
    c.Nombre,
    c.RFC,
    c.Correo,
    c.EstadoCivil,
    dbo.fnFormatearFecha(c.FechaNacimiento) AS FechaNacimiento,
    CASE 
        WHEN tc.Celular IS NOT NULL AND tc.TelefonoCasa IS NOT NULL THEN CONCAT('Cel: ', tc.Celular, ', Casa: ', tc.TelefonoCasa)
        WHEN tc.Celular IS NOT NULL THEN CONCAT('Cel: ', tc.Celular)
        ELSE NULL
    END AS Telefonos,
    CONCAT(u.Pais, ', ', u.Estado, ', ', u.Ciudad) AS Ubicacion,
    dbo.fnFormatearFechaHora(c.FechaModificacion) AS UltimaModificacion,
    CONCAT(R.Nombre, ' ', R.Apellidos) AS UsuarioUltimaModificacion
FROM Clientes c
LEFT JOIN TelefonosClientes tc ON c.ClienteID = tc.ClienteID
LEFT JOIN Usuarios R ON c.UsuarioModificador = R.UsuarioID
LEFT JOIN Ubicaciones u ON c.ClienteID = u.ClienteID;
GO

CREATE OR ALTER VIEW [dbo].[vwUsuariosDetalle] AS
SELECT 
    U.UsuarioID,
    U.Apellidos,
    U.Nombre,
    U.Correo,
    U.PasswordAct,
    CASE 
        WHEN C.PasswordAnt1 IS NOT NULL AND C.PasswordAnt2 IS NOT NULL THEN CONCAT('Pass1: ', C.PasswordAnt1, ', Pass2: ', C.PasswordAnt2)
        WHEN C.PasswordAnt1 IS NOT NULL THEN CONCAT('Pass1: ', C.PasswordAnt1)
        ELSE NULL
    END AS BeforePasswords,
    U.NumeroNomina,
    U.TipoUsuario,
    CASE 
        WHEN T.Celular IS NOT NULL AND T.TelefonoCasa IS NOT NULL THEN CONCAT('Cel: ', T.Celular, ', Casa: ', T.TelefonoCasa)
        WHEN T.Celular IS NOT NULL THEN CONCAT('Cel: ', T.Celular)
        ELSE NULL
    END AS Telefonos,
    dbo.fnFormatearFecha(U.FechaNacimiento) AS FechaNacimiento,
    CASE WHEN U.Estado = 1 THEN 'Habilitado' ELSE 'Deshabilitado' END AS Estado,
    dbo.fnFormatearFechaHora(U.FechaRegistro) AS FechaRegistro,
    CONCAT(R.Nombre, ' ', R.Apellidos) AS UsuarioRegistrador
FROM Usuarios U
LEFT JOIN TelefonosUsuarios T ON U.UsuarioID = T.UsuarioID
LEFT JOIN Usuarios R ON U.UsuarioRegistrador = R.UsuarioID
LEFT JOIN HistorialPasswords C ON U.UsuarioID = C.UsuarioID;
GO

CREATE OR ALTER VIEW [dbo].[vwServiciosAmenidadesCombinados] AS
SELECT 
    'Servicio' AS Tipo,
    ServicioID AS ID,
    Nombre AS Servicio,
    CONCAT('$', FORMAT(Precio, 'N2', 'es-MX')) AS PrecioFormateado,
    Precio AS PrecioDecimal,
    HotelID AS ReferenciaID,
    'Hotel' AS TipoReferencia
FROM Servicio
UNION ALL
SELECT 
    'Amenidad' AS Tipo,
    AmenidadID AS ID,
    Nombre AS Servicio,
    CONCAT('$', FORMAT(Precio, 'N2', 'es-MX')) AS PrecioFormateado,
    Precio AS PrecioDecimal,
    TipoHabitacion AS ReferenciaID,
    'TipoHabitacion' AS TipoReferencia
FROM Amenidad;
GO

CREATE OR ALTER VIEW [dbo].[vwReservacionesParaCheck] AS
SELECT 
    R.ReservacionID AS Codigo, 
    R.Estatus,
    R.FechaCheckIn,
    R.FechaCheckOut,
    CONCAT(C.Nombre, ' ', C.Apellidos) AS Cliente,
    C.Correo,
    TC.Celular,
    dbo.fnFormatearFecha(R.FechaCheckIn) AS FechaCheckInFormateada,
    dbo.fnFormatearFecha(R.FechaCheckOut) AS FechaCheckOutFormateada,
    CASE WHEN R.CheckIn = 1 THEN 'Habilitado' ELSE 'Deshabilitado' END AS EstadoCheckIn,
    CASE WHEN R.CheckOut = 1 THEN 'Habilitado' ELSE 'Deshabilitado' END AS EstadoCheckOut,
    dbo.fnFormatearMoneda(R.Anticipo) AS AnticipoFormateado,
    R.Anticipo AS Anticipo,
    dbo.fnFormatearMoneda(R.PrecioNoche) AS PrecioPorNocheFormateado,
    R.PrecioNoche,
    R.CantidadPersonas AS CantidadPersonas,
    UH.Pais,
    HT.Domicilio,
    HT.Nombre AS Hotel,
    TH.Nivel AS TipoHabitacion, 
    H.Numero AS NumeroHabitacion, 
    HT.HotelID,
    R.TipoHabID,
    R.HabitacionID,
    R.ClienteID,
    dbo.fnFormatearFechaHora(R.FechaRegistro) AS FechaHoraRegistro,
    CONCAT(U.Nombre, ' ', U.Apellidos) AS UsuarioRegistrador
FROM Reservacion R
JOIN Usuarios U ON R.UsuarioRegistro = U.UsuarioID
JOIN TipoHabitacion TH ON R.TipoHabID = TH.TipoHabID
JOIN Habitacion H ON R.HabitacionID = H.HabitacionID
JOIN TelefonosClientes TC ON R.ClienteID = TC.ClienteID
JOIN Clientes C ON R.ClienteID = C.ClienteID
JOIN Hoteles HT ON TH.HotelID = HT.HotelID
JOIN UbicacionHotel UH ON HT.HotelID = UH.HotelID
WHERE R.Estatus NOT IN ('Cancelado', 'Completo');
GO

CREATE OR ALTER VIEW [dbo].[vwReservacionesPendientesCanceladas] AS
SELECT 
    R.ReservacionID AS Codigo, 
    R.Estatus,
    CONCAT(C.Nombre, ' ', C.Apellidos) AS Cliente,
    R.CantidadPersonas AS CantidadPersonasHospedadas,
    R.FechaCheckIn,
    R.FechaCheckOut,
    dbo.fnFormatearFecha(R.FechaCheckIn) AS FechadeCheckIn,
    dbo.fnFormatearFecha(R.FechaCheckOut) AS FechadeCheckout,
    HT.Nombre AS Hotel,
    TH.Nivel AS TipoHabitacion, 
    H.Numero AS Habitacion, 
    dbo.fnFormatearFechaHora(R.FechaRegistro) AS FechaHoraRegistro,
    CONCAT(U.Nombre, ' ', U.Apellidos) AS UsuarioRegistrador
FROM Reservacion R
JOIN Usuarios U ON R.UsuarioRegistro = U.UsuarioID
JOIN TipoHabitacion TH ON R.TipoHabID = TH.TipoHabID
JOIN Habitacion H ON R.HabitacionID = H.HabitacionID
JOIN Clientes C ON R.ClienteID = C.ClienteID
JOIN Hoteles HT ON TH.HotelID = HT.HotelID
WHERE R.Estatus IN ('Pendiente', 'Cancelado');
GO

-- =========================================================================
-- 7. PROCEDIMIENTOS ALMACENADOS
-- =========================================================================
CREATE OR ALTER PROCEDURE [dbo].[sp_GestionarHotel]
    @Accion NVARCHAR(20),
    @Filtro VARCHAR(20) = NULL,
    @HotelID INT = NULL,
    @TipoHabID INT = NULL,
    @AmenidadID INT = NULL,
    @ServicioID INT = NULL,
    @HabitacionID INT = NULL,
    @Nombre NVARCHAR(50) = NULL,
    @Domicilio NVARCHAR(50) = NULL,
    @Caracteristicas NVARCHAR(MAX) = NULL,
    @NumPisos INT = NULL,
    @NumHabitaciones INT = NULL,
    @UsuarioRegistrador INT = NULL,
    @Pais NVARCHAR(20) = NULL,
    @Estado NVARCHAR(20) = NULL,
    @Ciudad NVARCHAR(20) = NULL,
    @NombreServicio NVARCHAR(100) = NULL,
    @PrecioServicio DECIMAL(10,2) = NULL,
    @FechaInicioOperaciones DATE = NULL,
    @Nivel NVARCHAR(50) = NULL,
    @PrecioNoche DECIMAL(10,2) = NULL,
    @CantPersonas INT = NULL,
    @CaractTipHab NVARCHAR(MAX) = NULL,
    @NombreAmenidad NVARCHAR(100) = NULL,
    @PrecioAmenidad DECIMAL(10,2) = NULL,
    @numeroHabitacion NVARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF @Accion = 'INSERTAR'
        BEGIN
            BEGIN TRANSACTION;
            INSERT INTO Hoteles (HotelID, Nombre, Domicilio, NumPisos, NumHabitaciones, UsuarioRegistrador, FechaInicioOperaciones)
            VALUES (@HotelID, @Nombre, @Domicilio, @NumPisos, 0, @UsuarioRegistrador, @FechaInicioOperaciones);
            INSERT INTO UbicacionHotel (HotelID, Pais, Estado, Ciudad)
            VALUES (@HotelID, @Pais, @Estado, @Ciudad);
            COMMIT TRANSACTION;
        END

        IF @Accion = 'BUSCARHOTEL'
        BEGIN
            SELECT HotelID, Nombre FROM Hoteles;
        END

        IF @Accion = 'ACTHOTEL'
        BEGIN
            UPDATE Hoteles
            SET Nombre = @Nombre, Domicilio = @Domicilio, NumPisos = @NumPisos, FechaInicioOperaciones = @FechaInicioOperaciones
            WHERE HotelID = @HotelID;

            UPDATE UbicacionHotel
            SET Pais = @Pais, Estado = @Estado, Ciudad = @Ciudad
            WHERE HotelID = @HotelID; 
        END

        IF @Accion = 'INSCARACHOTEL'
        BEGIN
            UPDATE Hoteles
            SET Caracteristicas = CASE WHEN LTRIM(RTRIM(ISNULL(Caracteristicas, ''))) = '' THEN @Caracteristicas ELSE ISNULL(Caracteristicas, '') + ', ' + @Caracteristicas END
            WHERE HotelID = @HotelID;
        END

        IF @Accion = 'ACTCARACT'
        BEGIN
            UPDATE Hoteles SET Caracteristicas = @Caracteristicas WHERE HotelID = @HotelID;
        END

        IF @Accion = 'CARGARCARACHOTEL'
        BEGIN
            SELECT HotelID, Caracteristicas FROM Hoteles WHERE HotelID = @HotelID;
        END

        IF @Accion = 'INSSERVICIO'
        BEGIN
            INSERT INTO Servicio (HotelID, Nombre, Precio) VALUES (@HotelID, @NombreServicio, @PrecioServicio);
        END

        IF @Accion = 'CARGARSERVICIOS'
        BEGIN
            SELECT ServicioID, HotelID, Nombre AS 'Servicio', dbo.fnFormatearMoneda(Precio) AS Precio
            FROM Servicio WHERE HotelID = @HotelID;
        END

        IF @Accion = 'BUSCARSERV'
        BEGIN
            SELECT ServicioID, HotelID, Nombre FROM Servicio WHERE HotelID = @HotelID;
        END

        IF @Accion = 'ACTSERVICIO'
        BEGIN
            UPDATE Servicio SET Nombre = @NombreServicio, Precio = @PrecioServicio WHERE ServicioID = @ServicioID;
        END

        IF @Accion = 'DELETESERV'
        BEGIN
            DELETE FROM Servicio WHERE ServicioID = @ServicioID;
        END

        IF @Accion = 'BUSCAR'
        BEGIN
            SELECT 
                HotelID, NombreHotel AS 'Nombre de Hotel', Domicilio, Ubicacion AS 'Ubicación', Pisos,
                CantidadHabitaciones AS 'Cantidad de Habitaciones', FechaHoraRegistro AS 'Fecha y Hora de Registro',
                FechainicioOperaciones AS 'Fecha inicio de Operaciones', UsuarioRegistrador AS 'Usuario Registrador'
            FROM vw_HotelesExtendido
            WHERE @Filtro = 'TODOS'
               OR (@Filtro = 'PAIS' AND Pais COLLATE Latin1_General_CI_AI LIKE '%' + @Pais + '%')
               OR (@Filtro = 'NOMBRE' AND NombreHotel COLLATE Latin1_General_CI_AI LIKE '%' + REPLACE(REPLACE(REPLACE(@Nombre, ' ', '%'), '''', '%'), '´', '%') + '%')
               OR (@Filtro = 'CIUDAD' AND Ciudad COLLATE Latin1_General_CI_AI LIKE '%' + @Ciudad + '%');
        END

        IF @Accion = 'BUSCARTH'
        BEGIN
            SELECT TipoHabID, Nivel FROM TipoHabitacion WHERE HotelID = @HotelID;
        END

        IF @Accion = 'INSERTTH'
        BEGIN
            INSERT INTO TipoHabitacion (Nivel, PrecioNoche, CantPersonas, HotelID, UsuarioRegistro, NumHabitaciones)
            VALUES (@Nivel, @PrecioNoche, @CantPersonas, @HotelID, @UsuarioRegistrador, 0);
        END

        IF @Accion = 'ACTUTH'
        BEGIN
            UPDATE TipoHabitacion SET Nivel = @Nivel, PrecioNoche = @PrecioNoche, CantPersonas = @CantPersonas WHERE TipoHabID = @TipoHabID;
        END

        IF @Accion = 'BUSCARTIPHAB'
        BEGIN
            SELECT TH.TipoHabID, TH.Nivel, dbo.fnFormatearMoneda(TH.PrecioNoche) AS 'Precio Noche por persona',
                   TH.CantPersonas AS 'Personas maximas permitidas', TH.NumHabitaciones AS 'Cantidad de Habitaciones',
                   CONCAT(R.Nombre,' ',R.Apellidos) AS 'Usuario Registrador'
            FROM TipoHabitacion TH
            LEFT JOIN Usuarios R ON TH.UsuarioRegistro = R.UsuarioID
            WHERE TH.HotelID = @HotelID;
        END

        IF @Accion = 'INSCARACTIPHAB'
        BEGIN
            UPDATE TipoHabitacion
            SET Caracteristicas = CASE WHEN LTRIM(RTRIM(ISNULL(Caracteristicas, ''))) = '' THEN @CaractTipHab ELSE ISNULL(Caracteristicas, '') + ', ' + @CaractTipHab END
            WHERE TipoHabID = @TipoHabID;
        END

        IF @Accion = 'ACTCARACTTH'
        BEGIN
            UPDATE TipoHabitacion SET Caracteristicas = @CaractTipHab WHERE TipoHabID = @TipoHabID;
        END

        IF @Accion = 'CARGARCARACTIPHAB'
        BEGIN
            SELECT TipoHabID, Caracteristicas FROM TipoHabitacion WHERE TipoHabID = @TipoHabID;
        END

        IF @Accion = 'INSAMENIDAD'
        BEGIN
            INSERT INTO Amenidad (TipoHabitacion, Nombre, Precio) VALUES (@TipoHabID, @NombreAmenidad, @PrecioAmenidad);
        END

        IF @Accion = 'CARGARAMENIDADES'
        BEGIN
            SELECT AmenidadID, TipoHabitacion, Nombre AS 'Amenidad', dbo.fnFormatearMoneda(Precio) AS Precio
            FROM Amenidad WHERE TipoHabitacion = @TipoHabID;
        END

        IF @Accion = 'BUSCARAMEN'
        BEGIN
            SELECT AmenidadID, TipoHabitacion, Nombre FROM Amenidad WHERE TipoHabitacion = @TipoHabID;
        END

        IF @Accion = 'ACTAMENIDAD'
        BEGIN
            UPDATE Amenidad SET Nombre = @NombreAmenidad, Precio = @PrecioAmenidad WHERE AmenidadID = @AmenidadID;
        END

        IF @Accion = 'DELETEAMEN'
        BEGIN
            DELETE FROM Amenidad WHERE AmenidadID = @AmenidadID;
        END

        IF @Accion = 'INSHABITACION'
        BEGIN
            INSERT INTO Habitacion (Numero, TipoHabitacion) VALUES (@numeroHabitacion, @TipoHabID);
        END

        IF @Accion = 'CARGARHABITACION'
        BEGIN
            SELECT HabitacionID, Numero AS 'Numero habitación', TipoHabitacion FROM Habitacion WHERE TipoHabitacion = @TipoHabID;
        END

        IF @Accion = 'BUSCARHABIT'
        BEGIN
            SELECT HabitacionID, Numero FROM Habitacion WHERE TipoHabitacion = @TipoHabID;
        END

        IF @Accion = 'ACTHABIT'
        BEGIN
            UPDATE Habitacion SET Numero = @numeroHabitacion WHERE HabitacionID = @HabitacionID;
        END

        IF @Accion = 'DELETEHABI'
        BEGIN
            DELETE FROM Habitacion WHERE HabitacionID = @HabitacionID;
        END
    END TRY
    BEGIN CATCH
        SELECT 'Error: ' + ERROR_MESSAGE() AS Mensaje;
    END CATCH
END;
GO

CREATE OR ALTER PROCEDURE [dbo].[sp_Reservaciones]
    @Accion NVARCHAR(20),
    @Filtro VARCHAR(20) = NULL,
    @TipoHabID INT = NULL,
    @HotelID INT = NULL,
    @ReservacionID UNIQUEIDENTIFIER = NULL,
    @IDReservacion NVARCHAR(100) = NULL,
    @Anticipo DECIMAL(10,2) = NULL,
    @PrecioNoche DECIMAL(10,2) = NULL,
    @CantidadPersonas INT = NULL,
    @FechaCheckIn DATE = NULL,
    @FechaCheckOut DATE = NULL,
    @Pais NVARCHAR(20) = NULL,
    @UsuarioRegistro INT = NULL,
    @HabitacionID INT = NULL,
    @ClienteID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF @Accion = 'BUSCARTIPHAB'
        BEGIN
            SELECT TipoHabID, Nivel, PrecioNoche AS 'PrecioNocheDecimal', dbo.fnFormatearMoneda(PrecioNoche) AS 'Precio Noche por persona',
                   Caracteristicas, CantPersonas AS 'Personas maximas permitidas'
            FROM TipoHabitacion WHERE HotelID = @HotelID;
        END

        IF @Accion = 'BUSCARHABIT'
        BEGIN
            SELECT HabitacionID, Numero FROM Habitacion WHERE TipoHabitacion = @TipoHabID;
        END

        IF @Accion = 'CREAR'
        BEGIN
            INSERT INTO Reservacion (ReservacionID, Anticipo, PrecioNoche, CantidadPersonas, FechaCheckIn, FechaCheckOut, UsuarioRegistro, TipoHabID, HabitacionID, ClienteID)
            VALUES (@ReservacionID, @Anticipo, @PrecioNoche, @CantidadPersonas, @FechaCheckIn, @FechaCheckOut, @UsuarioRegistro, @TipoHabID, @HabitacionID, @ClienteID);
        END

        IF @Accion = 'BUSCARRESERVAS'
        BEGIN
            SELECT FechaCheckIn, FechaCheckOut, Estatus, TipoHabID, HabitacionID FROM Reservacion WHERE TipoHabID = @TipoHabID;
        END

        IF @Accion = 'CANCELAR'
        BEGIN
            UPDATE Reservacion SET Estatus = 'Cancelado' WHERE ReservacionID = @IDReservacion;
        END

        IF @Accion = 'FILTRARCANCEL'
        BEGIN
            SELECT Codigo, Estatus, Cliente, CantidadPersonasHospedadas AS 'Cantidad de personas hospedadas',
                   FechaCheckIn, FechaCheckOut, FechadeCheckIn AS 'Fecha de Check In', FechadeCheckout AS 'Fecha de Check out',
                   Hotel, TipoHabitacion AS 'Tipo Habitacion', Habitacion, FechaHoraRegistro AS 'Fecha y Hora de Registro',
                   UsuarioRegistrador AS 'Usuario Registrador'
            FROM vwReservacionesPendientesCanceladas
            WHERE @Filtro = 'TODOS' OR (@Filtro = 'CODIGO' AND Codigo = @IDReservacion);
        END

        IF @Accion = 'FILTRARCHECK'
        BEGIN
            SELECT Codigo, Estatus, FechaCheckIn, FechaCheckOut, Cliente, Correo, Celular,
                   FechaCheckInFormateada AS 'Fecha de Check In', FechaCheckOutFormateada AS 'Fecha de Check out',
                   EstadoCheckIn AS CheckIn, EstadoCheckOut AS CheckOut, AnticipoFormateado AS Anticipo, Anticipo AS AnticipoNum,
                   PrecioPorNocheFormateado AS 'Precio por Noche', PrecioNoche, CantidadPersonas AS 'Cantidad de personas hospedadas',
                   Pais, Domicilio, Hotel, TipoHabitacion AS 'Tipo Habitacion', NumeroHabitacion AS Habitacion,
                   HotelID, TipoHabID, HabitacionID, ClienteID, FechaHoraRegistro AS 'Fecha y Hora de Registro',
                   UsuarioRegistrador AS 'Usuario Registrador'
            FROM vwReservacionesParaCheck
            WHERE @Filtro = 'TODOS' OR (@Filtro = 'CODIGO' AND Codigo = @IDReservacion);
        END

        IF @Accion = 'CHECKIN'
        BEGIN
            UPDATE Reservacion SET Estatus = 'Hospedado', CheckIn = 1 WHERE ReservacionID = @IDReservacion;
        END

        IF @Accion = 'CANCELAUT'
        BEGIN
            UPDATE Reservacion SET Estatus = 'Cancelado'
            WHERE FechaCheckIn < CAST(GETDATE() AS DATE) AND Estatus = 'Pendiente';
        END
    END TRY
    BEGIN CATCH
        SELECT 'Error: ' + ERROR_MESSAGE() AS Mensaje;
    END CATCH
END;
GO

CREATE OR ALTER PROCEDURE [dbo].[sp_Ubicaciones]
    @Accion NVARCHAR(20),
    @Pais NVARCHAR(50) = NULL,
    @Estado NVARCHAR(50) = NULL,
    @Ciudad NVARCHAR(50) = NULL,
    @PaisID INT = NULL,
    @EstadoID INT = NULL,
    @CiudadID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF @Accion = 'LISTPAISES' SELECT PaisID, Nombre FROM Paises;
        IF @Accion = 'LISTESTADOSXPAIS' SELECT EstadoID, Nombre FROM Estados WHERE PaisID = @PaisID;
        IF @Accion = 'LISTCIUDADXESTADO' SELECT CiudadID, Nombre FROM Ciudades WHERE EstadoID = @EstadoID;
        IF @Accion = 'LISTCIUDADXPAIS'
        BEGIN
            SELECT DISTINCT c.CiudadID, c.Nombre
            FROM Ciudades c
            INNER JOIN Estados e ON c.EstadoID = e.EstadoID
            WHERE e.PaisID = @PaisID;
        END
        IF @Accion = 'HOTELESLIST' SELECT HotelID, Nombre FROM Hoteles;
        IF @Accion = 'CREARPAIS' INSERT INTO Paises (Nombre) VALUES (@Pais);
        IF @Accion = 'DELETEPAIS' DELETE FROM Paises WHERE PaisID = @PaisID;
        IF @Accion = 'ACTPAIS' UPDATE Paises SET Nombre = @Pais WHERE PaisID = @PaisID;
        IF @Accion = 'CREARESTADO' INSERT INTO Estados (PaisID, Nombre) VALUES (@PaisID, @Estado);
        IF @Accion = 'DELETEESTADO' DELETE FROM Estados WHERE EstadoID = @EstadoID;
        IF @Accion = 'ACTESTADO' UPDATE Estados SET Nombre = @Estado WHERE EstadoID = @EstadoID;
        IF @Accion = 'CREARCIUDAD' INSERT INTO Ciudades (EstadoID, Nombre) VALUES (@EstadoID, @Ciudad);
        IF @Accion = 'DELETECIUDAD' DELETE FROM Ciudades WHERE CiudadID = @CiudadID;
        IF @Accion = 'ACTCIUDAD' UPDATE Ciudades SET Nombre = @Ciudad WHERE CiudadID = @CiudadID;
    END TRY
    BEGIN CATCH
        SELECT 'Error: ' + ERROR_MESSAGE() AS Mensaje;
    END CATCH
END;
GO

CREATE OR ALTER PROCEDURE [dbo].[spFacturas]
    @Accion NVARCHAR(20),
    @HotelID INT = NULL,
    @TipoHabID INT = NULL,
    @FacturaID UNIQUEIDENTIFIER = NULL,
    @ReservacionID UNIQUEIDENTIFIER = NULL,
    @MontoServicios DECIMAL(10,2) = NULL,
    @MontoHospedaje DECIMAL(10,2) = NULL,
    @MontoTotal DECIMAL(10,2) = NULL,
    @Pais NVARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF @Accion = 'CARGARSERVICIOS'
        BEGIN
            SELECT Servicio, PrecioFormateado AS Precio, PrecioDecimal
            FROM vwServiciosAmenidadesCombinados
            WHERE (TipoReferencia = 'Hotel' AND ReferenciaID = @HotelID)
               OR (TipoReferencia = 'TipoHabitacion' AND ReferenciaID = @TipoHabID);
        END

        IF @Accion = 'INSERTAR'
        BEGIN
            INSERT INTO Factura (FacturaID, ReservacionID, MontoServicios, MontoHospedaje, MontoTotal)
            VALUES (@FacturaID, @ReservacionID, @MontoServicios, @MontoHospedaje, @MontoTotal);
        END
    END TRY
    BEGIN CATCH
        SELECT 'Error: ' + ERROR_MESSAGE() AS Mensaje;
    END CATCH
END;
GO

CREATE OR ALTER PROCEDURE [dbo].[spGestionClientes]
    @Accion VARCHAR(15),      
    @ClienteID INT = NULL,
    @Nombre NVARCHAR(50) = NULL,
    @Apellidos NVARCHAR(50) = NULL,
    @RFC NVARCHAR(13) = NULL,
    @Correo NVARCHAR(50) = NULL,
    @EstadoCivil NVARCHAR(20) = NULL,
    @FechaNacimiento DATE = NULL,
    @UsuarioModificador INT = NULL,
    @FechaModificacion DATETIME = NULL,
    @Pais NVARCHAR(20) = NULL,
    @Estado NVARCHAR(20) = NULL,
    @Ciudad NVARCHAR(20) = NULL,
    @Celular VARCHAR(15) = NULL,
    @TelefonoCasa VARCHAR(15) = NULL,
    @Filtro VARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF @Accion = 'CARGAR'
        BEGIN
            SELECT ClienteID, Apellidos, Nombre, RFC, Correo, EstadoCivil AS 'Estado Civil',
                   FechaNacimiento AS 'Fecha de Nacimiento', Telefonos AS 'Teléfonos', Ubicacion AS 'Ubicación',
                   UltimaModificacion AS 'Ultima modificación', UsuarioUltimaModificacion AS 'Ultima Modificación Realizada por'
            FROM vwClientesDetalle;
        END

        IF @Accion = 'INSERTAR'
        BEGIN
            BEGIN TRANSACTION;
            INSERT INTO Clientes (ClienteID, Nombre, Apellidos, RFC, Correo, EstadoCivil, FechaNacimiento, UsuarioModificador)
            VALUES (@ClienteID, @Nombre, @Apellidos, @RFC, @Correo, @EstadoCivil, @FechaNacimiento, @UsuarioModificador);
            INSERT INTO Ubicaciones (ClienteID, Pais, Estado, Ciudad)
            VALUES (@ClienteID, @Pais, @Estado, @Ciudad);
            INSERT INTO TelefonosClientes (ClienteID, Celular, TelefonoCasa)
            VALUES (@ClienteID, @Celular, NULLIF(@TelefonoCasa, ''));
            COMMIT TRANSACTION;
        END

        IF @Accion = 'ACTUALIZA'
        BEGIN
            BEGIN TRANSACTION;
            UPDATE Clientes
            SET Correo = @Correo, Nombre = @Nombre, Apellidos = @Apellidos, RFC = @RFC,
                EstadoCivil = @EstadoCivil, FechaModificacion = GETDATE(), UsuarioModificador = @UsuarioModificador,
                FechaNacimiento = @FechaNacimiento
            WHERE ClienteID = @ClienteID;

            UPDATE Ubicaciones
            SET Pais = @Pais, Estado = @Estado, Ciudad = @Ciudad
            WHERE ClienteID = @ClienteID;

            UPDATE TelefonosClientes
            SET Celular = @Celular, TelefonoCasa = NULLIF(@TelefonoCasa, '')
            WHERE ClienteID = @ClienteID;
            COMMIT TRANSACTION;
        END

        IF @Accion = 'BUSCARCLIENTE'
        BEGIN
            SELECT ClienteID, Correo, RFC FROM Clientes;
        END

        IF @Accion = 'BUSCAR'
        BEGIN
            SELECT ClienteID, Nombre, Apellidos, Correo, RFC
            FROM vwClientesDetalle
            WHERE (@Filtro = 'TODOS')
               OR (@Filtro = 'RFC' AND RFC = @RFC)
               OR (@Filtro = 'CORREO' AND Correo = @Correo)
               OR (@Filtro = 'APELLIDOS' AND Apellidos COLLATE Latin1_General_CI_AI LIKE '%' + @Apellidos + '%');
        END
    END TRY
    BEGIN CATCH
        SELECT 'Error: ' + ERROR_MESSAGE() AS Mensaje;
    END CATCH
END;
GO

CREATE OR ALTER PROCEDURE [dbo].[spGestionUsuarios]
    @Accion VARCHAR(10),      
    @UsuarioID INT = NULL,
    @Nombre NVARCHAR(50) = NULL,
    @Apellidos NVARCHAR(50) = NULL,
    @Correo NVARCHAR(50) = NULL,
    @PasswordAct NVARCHAR(50) = NULL,
    @PasswordAnt1 NVARCHAR(50) = NULL,
    @PasswordAnt2 NVARCHAR(50) = NULL,
    @Celular VARCHAR(15) = NULL,
    @TelefonoCasa VARCHAR(15) = NULL,
    @NumeroNomina VARCHAR(20) = NULL,
    @TipoUsuario VARCHAR(15) = NULL,
    @FechaNacimiento DATE = NULL,
    @UsuarioRegistrador INT = NULL,
    @Estado BIT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF @Accion = 'INSERTAR'
        BEGIN
            BEGIN TRANSACTION;
            INSERT INTO Usuarios (UsuarioID, Nombre, Apellidos, Correo, PasswordAct, NumeroNomina, TipoUsuario, FechaNacimiento, UsuarioRegistrador)
            VALUES (@UsuarioID, @Nombre, @Apellidos, @Correo, @PasswordAct, @NumeroNomina, @TipoUsuario, @FechaNacimiento, @UsuarioRegistrador);
            INSERT INTO HistorialPasswords (UsuarioID)
            VALUES (@UsuarioID);
            INSERT INTO TelefonosUsuarios (UsuarioID, Celular, TelefonoCasa)
            VALUES (@UsuarioID, @Celular, NULLIF(@TelefonoCasa, ''));
            COMMIT TRANSACTION;
        END
        
        IF @Accion = 'NEWPASSW'
        BEGIN
            BEGIN TRANSACTION;
            UPDATE Usuarios SET PasswordAct = @PasswordAct WHERE UsuarioID = @UsuarioID;
            COMMIT TRANSACTION;
        END

        IF @Accion = 'ACTUALIZA'
        BEGIN
            BEGIN TRANSACTION;
            UPDATE Usuarios
            SET Correo = @Correo, Nombre = @Nombre, Apellidos = @Apellidos, NumeroNomina = @NumeroNomina, FechaNacimiento = @FechaNacimiento
            WHERE UsuarioID = @UsuarioID;

            UPDATE TelefonosUsuarios
            SET Celular = @Celular, TelefonoCasa = NULLIF(@TelefonoCasa, '')
            WHERE UsuarioID = @UsuarioID;
            COMMIT TRANSACTION;
        END
        
        IF @Accion = 'ESTADO'
        BEGIN
            UPDATE Usuarios SET Estado = CASE WHEN Estado = 1 THEN 0 ELSE 1 END WHERE UsuarioID = @UsuarioID;
        END

        IF @Accion = 'LOGIN'
        BEGIN
            SELECT UsuarioID, Correo, TipoUsuario 
            FROM Usuarios 
            WHERE Correo = @Correo 
              AND PasswordAct = @PasswordAct
              AND TipoUsuario = @TipoUsuario
              AND Estado = 1; 
        END

        IF @Accion = 'BUSCARUSER'
        BEGIN
            SELECT UsuarioID, Correo, NumeroNomina, Estado FROM Usuarios;
        END

        IF @Accion = 'CARGAR'
        BEGIN
            SELECT UsuarioID, Apellidos, Nombre, Correo, PasswordAct AS 'Contraseña', BeforePasswords AS 'Contraseñas Anteriores',
                   NumeroNomina AS 'Número de Nómina', TipoUsuario AS 'Tipo de Usuario', Telefonos AS 'Teléfonos',
                   FechaNacimiento AS 'Fecha de Nacimiento', Estado, FechaRegistro AS 'Fecha y Hora de Registro',
                   UsuarioRegistrador AS 'Registrado Por'
            FROM vwUsuariosDetalle;
        END
    END TRY
    BEGIN CATCH
        SELECT 'Error: ' + ERROR_MESSAGE() AS Mensaje;
    END CATCH
END;
GO

CREATE OR ALTER PROCEDURE [dbo].[spReportes]
    @Accion NVARCHAR(20),
    @Filtro VARCHAR(20) = NULL,
    @ApellidosCliente NVARCHAR(20) = NULL,
    @NombreCliente NVARCHAR(20) = NULL,
    @NombreHotel NVARCHAR(50) = NULL,
    @Pais NVARCHAR(20) = NULL,
    @Ciudad NVARCHAR(20) = NULL,
    @Anio INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF @Accion = 'HISTORIAL'
        BEGIN
            SELECT 
                CONCAT(C.Nombre,' ',C.Apellidos) AS 'Cliente', UH.Pais, UH.Ciudad, HT.Nombre AS 'Hotel',
                TH.Nivel AS 'Tipo Habitacion', H.Numero AS Habitacion, R.CantidadPersonas AS 'Número de personas hospedadas', 
                R.ReservacionID AS 'Código de Reservación', dbo.fnFormatearFechaHora(R.FechaRegistro) AS 'Fecha y Hora de reservación',
                dbo.fnFormatearFecha(R.FechaCheckIn) AS 'Fecha de Check In', dbo.fnFormatearFecha(R.FechaCheckOut) AS 'Fecha de Check out',
                R.Estatus, dbo.fnFormatearMoneda(R.Anticipo) AS Anticipo, dbo.fnFormatearMoneda(F.MontoHospedaje) AS MontoHospedaje,
                dbo.fnFormatearMoneda(F.MontoServicios) AS MontoServicios, dbo.fnFormatearMoneda(F.MontoTotal) AS MontoTotal
            FROM Reservacion R
            JOIN TipoHabitacion TH ON R.TipoHabID = TH.TipoHabID
            JOIN Habitacion H ON R.HabitacionID = H.HabitacionID
            JOIN Clientes C ON R.ClienteID = C.ClienteID
            JOIN Hoteles HT ON TH.HotelID = HT.HotelID
            JOIN UbicacionHotel UH ON TH.HotelID = UH.HotelID
            LEFT JOIN Factura F ON R.ReservacionID = F.ReservacionID
            WHERE (@Filtro = 'APELLIDOS' AND C.Apellidos COLLATE Latin1_General_CI_AI LIKE '%' + REPLACE(REPLACE(REPLACE(@ApellidosCliente, ' ', '%'), '''', '%'), '´', '%') + '%')
               OR (@Filtro = 'NOMBRE' AND CONCAT(C.Nombre, ' ', C.Apellidos) COLLATE Latin1_General_CI_AI LIKE '%' + REPLACE(REPLACE(REPLACE(@NombreCliente, ' ', '%'), '''', '%'), '´', '%') + '%')
            ORDER BY R.FechaCheckIn DESC;
        END

        IF @Accion = 'REPORTEOCUP'
        BEGIN
            SELECT 
                uh.Ciudad, h.Nombre AS NombreHotel, YEAR(r.FechaCheckIn) AS Año, DATENAME(MONTH, r.FechaCheckIn) AS Mes,
                MONTH(r.FechaCheckIn) AS NumMes, th.Nivel AS TipoHabitacion, th.NumHabitaciones AS CantidadHabitaciones,
                dbo.CalcularPorcentajeOcupacion(COUNT(DISTINCT r.HabitacionID), th.NumHabitaciones) AS PorcentajeOcupacion,
                SUM(r.CantidadPersonas) AS CantidadPersonasHospedadas
            FROM Reservacion r
            INNER JOIN TipoHabitacion th ON r.TipoHabID = th.TipoHabID
            INNER JOIN Hoteles h ON th.HotelID = h.HotelID
            INNER JOIN UbicacionHotel uh ON h.HotelID = uh.HotelID
            WHERE r.Estatus = 'Completo'
              AND (@Pais IS NULL OR @Pais = 'Todos' OR uh.Pais = @Pais)
              AND (@Ciudad IS NULL OR @Ciudad = 'Todos' OR uh.Ciudad = @Ciudad)
              AND (@NombreHotel IS NULL OR @NombreHotel = 'Todos' OR h.Nombre = @NombreHotel)
              AND (@Anio IS NULL OR YEAR(r.FechaCheckIn) = CAST(@Anio AS INT))
            GROUP BY uh.Ciudad, h.Nombre, YEAR(r.FechaCheckIn), MONTH(r.FechaCheckIn), DATENAME(MONTH, r.FechaCheckIn), th.Nivel, th.NumHabitaciones
            ORDER BY uh.Ciudad, h.Nombre, Año, NumMes;
        END

        IF @Accion = 'REPORTEOCUP2'
        BEGIN
            SELECT 
                uh.Ciudad, h.Nombre AS NombreHotel, YEAR(r.FechaCheckIn) AS Año, MONTH(r.FechaCheckIn) AS NumMes,
                DATENAME(MONTH, r.FechaCheckIn) AS Mes, h.NumHabitaciones AS CantidadHabitaciones,
                dbo.CalcularPorcentajeOcupacion(COUNT(DISTINCT r.HabitacionID), h.NumHabitaciones) AS PorcentajeOcupacion
            FROM Reservacion r
            INNER JOIN TipoHabitacion th ON r.TipoHabID = th.TipoHabID
            INNER JOIN Hoteles h ON th.HotelID = h.HotelID
            INNER JOIN UbicacionHotel uh ON h.HotelID = uh.HotelID
            WHERE r.Estatus = 'Completo'
              AND (@Pais IS NULL OR @Pais = 'Todos' OR uh.Pais = @Pais)
              AND (@Ciudad IS NULL OR @Ciudad = 'Todos' OR uh.Ciudad = @Ciudad)
              AND (@NombreHotel IS NULL OR @NombreHotel = 'Todos' OR h.Nombre = @NombreHotel)
              AND (@Anio IS NULL OR YEAR(r.FechaCheckIn) = CAST(@Anio AS INT))
            GROUP BY uh.Ciudad, h.Nombre, YEAR(r.FechaCheckIn), MONTH(r.FechaCheckIn), DATENAME(MONTH, r.FechaCheckIn), h.NumHabitaciones  
            ORDER BY uh.Ciudad, h.Nombre, Año, NumMes;
        END

        IF @Accion = 'REPORTEVENTAS'
        BEGIN
            SELECT
                UH.Pais, UH.Ciudad, H.Nombre AS NombreHotel, YEAR(R.FechaCheckOut) AS Año, MONTH(R.FechaCheckOut) AS NumMes,
                DATENAME(MONTH, R.FechaCheckOut) AS Mes,
                CONCAT('$', FORMAT(ISNULL(SUM(F.MontoHospedaje), 0), 'N2', 'es-MX')) AS IngresosHospedaje,
                CONCAT('$', FORMAT(ISNULL(SUM(F.MontoServicios), 0), 'N2', 'es-MX')) AS IngresosServicios,
                CONCAT('$', FORMAT(ISNULL(SUM(F.MontoHospedaje + F.MontoServicios), 0), 'N2', 'es-MX')) AS IngresosTotales
            FROM Reservacion R
            JOIN Factura F ON R.ReservacionID = F.ReservacionID
            JOIN Habitacion Hb ON R.HabitacionID = Hb.HabitacionID
            JOIN TipoHabitacion TH ON Hb.TipoHabitacion = TH.TipoHabID
            JOIN Hoteles H ON TH.HotelID = H.HotelID
            JOIN UbicacionHotel UH ON H.HotelID = UH.HotelID
            WHERE (@Pais IS NULL OR @Pais = 'Todos' OR UH.Pais = @Pais)
              AND (@Ciudad IS NULL OR @Ciudad = 'Todos' OR UH.Ciudad = @Ciudad)
              AND (@NombreHotel IS NULL OR @NombreHotel = 'Todos' OR H.Nombre = @NombreHotel)
              AND (@Anio IS NULL OR YEAR(R.FechaCheckOut) = CAST(@Anio AS INT))
            GROUP BY UH.Pais, UH.Ciudad, H.Nombre, YEAR(R.FechaCheckOut), MONTH(R.FechaCheckOut), DATENAME(MONTH, R.FechaCheckOut)
            ORDER BY UH.Ciudad, H.Nombre, Año, NumMes;
        END
    END TRY
    BEGIN CATCH
        SELECT 'Error: ' + ERROR_MESSAGE() AS Mensaje;
    END CATCH
END;
GO

-- =========================================================================
-- 8. TRIGGERS
-- =========================================================================
CREATE OR ALTER TRIGGER [dbo].[trg_Factura_CheckOut]
ON [dbo].[Factura]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE R
    SET R.Estatus = 'Completo', R.CheckOut = 1
    FROM Reservacion R
    INNER JOIN inserted I ON R.ReservacionID = I.ReservacionID;
END;
GO

CREATE OR ALTER TRIGGER [dbo].[trg_ActualizarConteosHabitaciones]
ON [dbo].[Habitacion]
AFTER INSERT, DELETE, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE th
    SET th.NumHabitaciones = (
        SELECT COUNT(*) 
        FROM Habitacion h 
        WHERE h.TipoHabitacion = th.TipoHabID
    )
    FROM TipoHabitacion th
    WHERE th.TipoHabID IN (
        SELECT TipoHabitacion FROM inserted
        UNION
        SELECT TipoHabitacion FROM deleted
    );

    UPDATE hot
    SET hot.NumHabitaciones = (
        SELECT COUNT(ha.HabitacionID)
        FROM TipoHabitacion th
        JOIN Habitacion ha ON th.TipoHabID = ha.TipoHabitacion
        WHERE th.HotelID = hot.HotelID
    )
    FROM Hoteles hot
    WHERE hot.HotelID IN (
        SELECT th.HotelID
        FROM TipoHabitacion th
        WHERE th.TipoHabID IN (
            SELECT TipoHabitacion FROM inserted
            UNION
            SELECT TipoHabitacion FROM deleted
        )
    );
END;
GO

CREATE OR ALTER TRIGGER [dbo].[trg_PreventDeleteIfNotLastHabitacion]
ON [dbo].[Habitacion]
INSTEAD OF DELETE
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM deleted d
        WHERE EXISTS (
            SELECT 1
            FROM Habitacion h
            WHERE h.TipoHabitacion = d.TipoHabitacion
              AND h.HabitacionID > d.HabitacionID
        )
    )
    BEGIN
        RAISERROR('No se puede eliminar la habitación porque no es la última registrada de su tipo.', 16, 1);
        RETURN;
    END

    DELETE FROM Habitacion
    WHERE HabitacionID IN (SELECT HabitacionID FROM deleted);
END;
GO

CREATE OR ALTER TRIGGER [dbo].[TR_ActualizarFechaCheckOut]
ON [dbo].[Reservacion]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE R
    SET R.FechaCheckOut = CAST(GETDATE() AS DATE)
    FROM Reservacion R
    INNER JOIN inserted i ON R.ReservacionID = i.ReservacionID
    INNER JOIN deleted d ON d.ReservacionID = i.ReservacionID
    WHERE i.CheckOut = 1 
      AND (d.CheckOut IS NULL OR d.CheckOut = 0)
      AND i.FechaCheckOut > CAST(GETDATE() AS DATE);
END;
GO