<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Proyecto_MAD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Proyecto_MAD.Properties.Settings>
            <setting name="RememberUser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedEmail" serializeAs="String">
                <value />
            </setting>
        </Proyecto_MAD.Properties.Settings>
    </userSettings>
	<connectionStrings>
		<add name="ApplicationServices"
			 connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
			 providerName="System.Data.SqlClient" />
		<add name="SQLCONEXION"
			 connectionString="data source=localhost;Initial Catalog=LuxStay;User ID=sa;Password=PON_TU_CONTRASEÑA_AQUI"
			 providerName="System.Data.SqlClient" />
		<add name="Grupo03"
			 connectionString="data source=LAPTOP-ALUMNO;Initial Catalog=Grupo03DB;persist security info=True;Integrated Security=SSPI"
			 providerName="System.Data.SqlClient" />
		<add name="Excel03ConString"
			connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" />
		<add name="Excel07ConString"
			connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" />
	</connectionStrings>
	<appSettings>
		<add key="IVA" value="16"/>
		<add key="admin" value="alvillarreal"/>
	</appSettings>
</configuration>